.flag-card {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0px 20px 0px;
}

.new-country-button {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.card {
    background-color: grey !important;
}
